<div class="container mt-4">
  <div class="row g-4">

    <div class="col-8">

      <div class="row">
        <div *ngFor="let product of products" class="col-12 col-md-6 col-lg-4">
          <p-card class="shadow-sm m-3 ">
            <!-- <ng-template pTemplate="header">
              <img [src]="productService.urlImage(product)" class="product-image" alt="Imagen de {{ product.name }}" />
            </ng-template> -->
            <ng-template pTemplate="title">
              {{ product.name }}
            </ng-template>
            <ng-template pTemplate="content">
              <p class="text-primary fw-bold fs-5">${{ product.price }}</p>
              <button pButton label="Agregar al carrito" icon="pi pi-shopping-cart" class="w-100" (click)="addToCart(product)" ></button>
            </ng-template>
          </p-card>
        </div>
      </div>

    </div>

    <div class="col-4">
      <p-card class="shadow-sm">
        <ng-template pTemplate="title">
          Carrito de compras
        </ng-template>
        <ng-template pTemplate="content">
          <div *ngFor="let item of cart" class="cart-item">
            <p-card class="shadow-sm m-3">
              <ng-template pTemplate="title">
                {{ item.product.name }}
              </ng-template>
              <ng-template pTemplate="content">
                <p class="text-primary fw-bold fs-5">${{ item.product.price }}</p>
                <p>Cantidad: {{ item.quantity }}</p>
                <p>Subtotal: ${{ item.product.price * item.quantity }}</p>
                <button pButton label="Eliminar" icon="pi pi-times" class="w-100" (click)="removeFromCart(item.product)"></button>
              </ng-template>
            </p-card>
          </div>
          <p class="text-primary fw-bold fs-5">Total: ${{ total }}</p>
          <button pButton label="Comprar" icon="pi pi-shopping-cart" class="w-100 mt-3"></button>
        </ng-template>
      </p-card>
    </div>
    
  </div>
</div>
